body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

img {
    width: 100%;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.fade {
    animation: fade 1.5s ease-in-out infinite;
}

@keyframes fade {
    0%, 100% {
        opacity: 0.4;
    }
    20%, 80% {
        opacity: 1;
    }
}
